.done {
    text-decoration: line-through;
    user-select: none;
}

.notdone{
    text-decoration: none;
    user-select: none;
}

.todopanel_list{
    display: flex;
    flex-direction: column-reverse;
}