.addtodo_label {
    display: none;
}
.addtodo_input {
    width: 350px;
    height: 25px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 14px;
}