.inactive {
    text-decoration: none;
    padding: 6px;
    user-select: none;
}

.active{
    color: darkmagenta;
    font-weight: 700;
    padding: 6px;
    user-select: none;
}

.todofilter_menu {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.todofilter_element {
    text-decoration: none;
}

.todofilter_element:visited{
    color:black;
}