.Calculator {
    font-size: 35px;
    text-align: center;
    background-color: #cccccc;
    height:410px;
    width:290px;
    margin: auto;
    margin-top: 8%;
    padding: 3px;
    border-radius:10px;
    box-shadow:5px 10px 30px 5px #444;
}

.Calculator-Name {
    font-family: 'Orbitron', sans-serif;
    margin-top: 20px;
}

.Calculator-Brand {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    margin-top: 15px;
}
